<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pirates Travel Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  
  <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <a class="navbar-brand piratey" href="/">Pirates Travel Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/maps">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patterns">Patterns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/density">Density</a>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
          <li class="nav-item">
            <img src="../static/resources/images/coinicon.svg" alt="coin" height="50" width="50" onclick="document.getElementById('jingle').play()">
          </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1 class="piratey page-title">Pirates Travel Index</h1>
        <br>
        <div class="descrip">
            <p class="page-desc">
              Ahoy, mateys!
              <br>
              <br>
              As a group of high-tech pirates, we will study the change in tourism in the most popular tourist destinations of the past decade (2011-2018). We will create maps that track amount of tourists and how much they are spending to try to discover patterns in their behavior over the years. We will also use the annual World Happiness Report to see if there are any qualities that may contribute to tourism for cities. Finally, we will rank the top 10 tourist destinations according to number of tourists, expenditures, and their density index (i.e. number of tourists vs. local population ratio). That way, we will determine the best targets to plunder and why!
              <br>
              <br>
              Signed,
              <br>
              The Captain
            </p>
        </div>
      </div>
      <div class="current-plot"></div>
    </div>
  </div>

  <div class="parallax" style="background-image: url('../static/resources/images/banner.jpg');">
  </div>
  
  <audio id="jingle" src="../static/resources/audio/pirate-theme.mp3"></audio>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script src="https://d3plus.org/js/d3plus-plot.v0.8.full.min.js"></script>

</body>

</html>
