<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Pirates Travel Index - Rankings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  
  <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <a class="navbar-brand piratey" href="/">Pirates Travel Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/maps">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patterns">Patterns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/density">Density</a>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
          <li class="nav-item">
            <img src="../static/resources/images/coinicon.svg" alt="coin" height="50" width="50" onclick="document.getElementById('jingle').play()">
          </li>
      </ul>
    </div>
  </nav>
  
  <br>
  <div id="tourismRankings" style="width:1200px; height:700px; margin:0 auto;" align="center"></div>
  <br>
  <div id="expensesRankings" style="width:1200px; height:700px; margin:0 auto;" align="center"></div>

  <footer class="page-footer" style="background-color: #282828;">
    <div class="text-center py-3" style="color: gold; font-size: 12px;">
      Made with 🖤 by fellow pirates <a href="https://github.com/c-l-nguyen">Chris Nguyen</a>, <a href="https://github.com/toestie">Nathan Wong</a>, <a href="https://github.com/hazeldespain">Hazel Despain</a>, and <a href="https://github.com/hayleyjellison">Hayley Jellison</a>
    </div>
  </footer>

  <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
  <audio id="jingle" src="../static/resources/audio/pirate-theme.mp3"></audio>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script src="https://d3plus.org/js/d3plus-plot.v0.8.full.min.js"></script>
  <script src="{{ url_for('static', filename='../static/js/functions.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/js/rankings.js') }}"></script>

</body>

</html>
